In [62]:
# -*- coding: utf_8 -*-
# import pandas as pd
from datetime import datetime
import pandas as pd
import time
import numpy as np
import re
import tensorflow as tf
from scipy import stats
import keras 
import warnings

#### 주택담보금리

In [63]:
interest_rates = pd.read_csv('./interest_rates.csv', encoding = 'utf-8', index_col=0)
# Unnamed:0컬럼을 삭제해주는 옵션 추가 
interest_rates.rename(columns={'year_month':'transaction_year_month'},inplace=True)
interest_rates.head(10)

   household_loan  mean_loan  mortgage loan  transaction_year_month
0            5.69       5.79           5.64                  200601
1            5.71       5.76           5.58                  200602
2            5.68       5.89           5.46                  200603
3            5.62       5.83           5.42                  200604
4            5.64       5.89           5.41                  200605
5            5.72       5.98           5.48                  200606
6            5.95       6.10           5.79                  200607
7            6.03       6.16           5.86                  200608
8            5.90       6.13           5.77                  200609
9            5.84       6.09           5.69                  200610

#### 아파트 데이터

In [64]:
df= pd.read_csv('./sorted_train.csv', encoding = 'utf-8',index_col=0)

C:\Python\anaconda3-52\lib\site-packages\numpy\lib\arraysetops.py:472: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [65]:
df.columns
df2 = df.drop(['transaction_year_month','transaction_date','room_id','household_loan','mean_loan','floor'],axis = 1)

In [93]:
df2['parking_per_household'] = (df2.total_parking_capacity_in_site / df2.total_household_count_in_sites)
df2['transaction_year_month_date'] = pd.to_datetime(df2['transaction_year_month_date'])
# df2.parking_per_household = lambda(x : df2.total_parking_capacity_in_site, y : df2.total_household_count_in_sites, x / y )

In [91]:
# df2.tail()

# List = []
# for i in range(len(df2['transaction_year_month_date'])):
#     list1 = df2['transaction_year_month_date'][i].split('-')[0]
# List = List.append(list1)

# #     print(len(List))
# df2['year']= List
    
# # len(df2.transaction_year_month_date)

In [92]:
df2

,key,apartment_id,city,year_of_completion,exclusive_use_area,latitude,longitude,address_by_law,total_parking_capacity_in_site,total_household_count_in_sites,...,supply_area,total_household_count_of_area_type,room_count,bathroom_count,front_door_structure,transaction_real_price,mortgage loan,transaction_year_month_date,parking_per_household,year
1219584,1219594,3,seoul,1987,66.2900,37.517649,127.012646,1165010600,324.0,360,...,89.35,150,3.0,1.0,corridor,756000000,2.93,2016-04-10,0.900000,None
1474032,1474065,3,seoul,1987,66.2900,37.517649,127.012646,1165010600,324.0,360,...,89.35,150,3.0,1.0,corridor,1020000000,3.24,2017-09-30,0.900000,None
577651,577652,3,seoul,1987,84.5300,37.517649,127.012646,1165010600,324.0,360,...,101.08,210,3.0,2.0,stairway,800000000,4.80,2011-01-31,0.900000,None
435062,435062,3,seoul,1987,84.5300,37.517649,127.012646,1165010600,324.0,360,...,101.08,210,3.0,2.0,stairway,760000000,5.77,2009-09-30,0.900000,None
694846,694847,3,seoul,1987,66.2900,37.517649,127.012646,1165010600,324.0,360,...,89.35,150,3.0,1.0,corridor,570000000,4.85,2012-05-31,0.900000,None
348969,348969,3,seoul,1987,66.2900,37.517649,127.012646,1165010600,324.0,360,...,89.35,150,3.0,1.0,corridor,585000000,5.43,2009-03-20,0.900000,None
268055,268055,3,seoul,1987,84.5300,37.517649,127.012646,1165010600,324.0,360,...,101.08,210,3.0,2.0,stairway,800000000,6.70,2008-03-31,0.900000,None
349005,349005,3,seoul,1987,66.2900,37.517649,127.012646,1165010600,324.0,360,...,89.35,150,3.0,1.0,corridor,495000000,5.43,2009-03-20,0.900000,None
960913,960918,3,seoul,1987,66.2900,37.517649,127.012646,1165010600,324.0,360,...,89.35,150,3.0,1.0,corridor,660000000,3.38,2014-10-20,0.900000,None
540649,540650,3,seoul,1987,84.5300,37.517649,127.012646,1165010600,324.0,360,...,101.08,210,3.0,2.0,stairway,780000000,4.74,2010-10-31,0.900000,None
1273089,1273100,3,seoul,1987,66.2900,37.517649,127.012646,1165010600,324.0,360,...,89.35,150,3.0,1.0,corridor,865000000,2.66,2016-07-10,0.900000,None
856863,856868,3,seoul,1987,66.2900,37.517649,127.012646,1165010600,324.0,360,...,89.35,150,3.0,1.0,corridor,600000000,3.75,2014-01-10,0.900000,None
190861,190861,3,seoul,1987,84.5300,37.517649,127.012646,1165010600,324.0,360,...,101.08,210,3.0,2.0,stairway,820000000,6.24,2007-07-10,0.900000,None
268052,268052,3,seoul,1987,84.5300,37.517649,127.012646,1165010600,324.0,360,...,101.08,210,3.0,2.0,stairway,785000000,6.70,2008-03-31,0.900000,None
540644,540645,3,seoul,1987,84.5300,37.517649,127.012646,1165010600,324.0,360,...,101.08,210,3.0,2.0,stairway,710000000,4.74,2010-10-31,0.900000,None
268048,268048,3,seoul,1987,66.2900,37.517649,127.012646,1165010600,324.0,360,...,89.35,150,3.0,1.0,corridor,635000000,6.70,2008-03-31,0.900000,None
268038,268038,3,seoul,1987,84.5300,37.517649,127.012646,1165010600,324.0,360,...,101.08,210,3.0,2.0,stairway,765000000,6.70,2008-03-31,0.900000,None
853248,853252,3,seoul,1987,84.5300,37.517649,127.012646,1165010600,324.0,360,...,101.08,210,3.0,2.0,stairway,760000000,3.75,2014-01-20,0.900000,None
5799,5799,3,seoul,1987,66.2900,37.517649,127.012646,1165010600,324.0,360,...,89.35,150,3.0,1.0,corridor,490000000,5.64,2006-01-31,0.900000,None
577641,577642,3,seoul,1987,66.2900,37.517649,127.012646,1165010600,324.0,360,...,89.35,150,3.0,1.0,corridor,630000000,4.80,2011-01-31,0.900000,None
849006,849010,3,seoul,1987,84.5300,37.517649,127.012646,1165010600,324.0,360,...,101.08,210,3.0,2.0,stairway,750000000,3.74,2013-12-31,0.900000,None
1000729,1000735,3,seoul,1987,66.2900,37.517649,127.012646,1165010600,324.0,360,...,89.35,150,3.0,1.0,corridor,675000000,3.34,2015-01-10,0.900000,None
1490567,1490609,3,seoul,1987,66.2900,37.517649,127.012646,1165010600,324.0,360,...,89.35,150,3.0,1.0,corridor,1055000000,3.39,2017-11-10,0.900000,None
474640,474641,3,seoul,1987,66.2900,37.517649,127.012646,1165010600,324.0,360,...,89.35,150,3.0,1.0,corridor,605000000,5.75,2010-02-20,0.900000,None
692861,692862,3,seoul,1987,66.2900,37.517649,127.012646,1165010600,324.0,360,...,89.35,150,3.0,1.0,corridor,608000000,4.85,2012-05-10,0.900000,None
344065,344065,3,seoul,1987,66.2900,37.517649,127.012646,1165010600,324.0,360,...,89.35,150,3.0,1.0,corridor,440000000,5.38,2009-02-10,0.900000,None
1475576,1475610,3,seoul,1987,84.5300,37.517649,127.012646,1165010600,324.0,360,...,101.08,210,3.0,2.0,stairway,1290000000,3.33,2017-10-20,0.900000,None
1383470,1383483,3,seoul,1987,66.2900,37.517649,127.012646,1165010600,324.0,360,...,89.35,150,3.0,1.0,corridor,900000000,3.21,2017-03-31,0.900000,None
849012,849016,3,seoul,1987,84.5300,37.517649,127.012646,1165010600,324.0,360,...,101.08,210,3.0,2.0,stairway,770000000,3.74,2013-12-31,0.900000,None
560701,560702,3,seoul,1987,84.5300,37.517649,127.012646,1165010600,324.0,360,...,101.08,210,3.0,2.0,stairway,729000000,4.67,2010-12-10,0.900000,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1461592,1461620,50075,seoul,2017,23.2500,37.588657,127.053665,1123010800,83.0,110,...,30.75,11,1.0,1.0,corridor,250000000,3.28,2017-08-10,0.754545,None
1461604,1461632,50075,seoul,2017,23.1600,37.588657,127.053665,1123010800,83.0,110,...,30.63,33,1.0,1.0,corridor,200000000,3.28,2017-08-10,0.754545,None
1547454,1547618,50075,seoul,2017,20.3400,37.588657,127.053665,1123010800,83.0,110,...,26.90,11,1.0,1.0,corridor,240000000,3.45,2018-03-31,0.754545,None
1461597,1461625,50075,seoul,2017,20.3400,37.588657,127.053665,1123010800,83.0,110,...,26.90,11,1.0,1.0,corridor,240000000,3.28,2017-08-10,0.754545,None
1461591,1461619,50075,seoul,2017,20.0100,37.588657,127.053665,1123010800,83.0,110,...,26.47,11,1.0,1.0,corridor,230000000,3.28,2017-08-10,0.754545,None
1461563,1461591,50075,seoul,2017,20.6300,37.588657,127.053665,1123010800,83.0,110,...,27.29,11,1.0,1.0,corridor,200000000,3.28,2017-08-10,0.754545,None
1461590,1461618,50075,seoul,2017,23.1600,37.588657,127.053665,1123010800,83.0,110,...,30.63,33,1.0,1.0,corridor,250000000,3.28,2017-08-10,0.754545,None
1461570,1461598,50075,seoul,2017,23.3200,37.588657,127.053665,1123010800,83.0,110,...,30.84,11,1.0,1.0,corridor,250000000,3.28,2017-08-10,0.754545,None
1461588,1461616,50075,seoul,2017,23.1600,37.588657,127.053665,1123010800,83.0,110,...,30.63,33,1.0,1.0,corridor,218000000,3.28,2017-08-10,0.754545,None
1461596,1461624,50075,seoul,2017,23.1600,37.588657,127.053665,1123010800,83.0,110,...,30.63,33,1.0,1.0,corridor,250000000,3.28,2017-08-10,0.754545,None
1461589,1461617,50075,seoul,2017,23.1600,37.588657,127.053665,1123010800,83.0,110,...,30.63,33,1.0,1.0,corridor,250000000,3.28,2017-08-10,0.754545,None
1461581,1461609,50075,seoul,2017,23.2500,37.588657,127.053665,1123010800,83.0,110,...,30.75,11,1.0,1.0,corridor,250000000,3.28,2017-08-10,0.754545,None
1461577,1461605,50075,seoul,2017,23.2500,37.588657,127.053665,1123010800,83.0,110,...,30.75,11,1.0,1.0,corridor,200000000,3.28,2017-08-10,0.754545,None
1461573,1461601,50075,seoul,2017,23.2500,37.588657,127.053665,1123010800,83.0,110,...,30.75,11,1.0,1.0,corridor,247000000,3.28,2017-08-10,0.754545,None
1514301,1514370,50075,seoul,2017,23.1600,37.588657,127.053665,1123010800,83.0,110,...,30.63,33,1.0,1.0,corridor,250000000,3.47,2018-01-10,0.754545,None
1461572,1461600,50075,seoul,2017,23.1600,37.588657,127.053665,1123010800,83.0,110,...,30.63,33,1.0,1.0,corridor,240000000,3.28,2017-08-10,0.754545,None
1461571,1461599,50075,seoul,2017,23.1600,37.588657,127.053665,1123010800,83.0,110,...,30.63,33,1.0,1.0,corridor,247000000,3.28,2017-08-10,0.754545,None
1461605,1461633,50075,seoul,2017,23.1600,37.588657,127.053665,1123010800,83.0,110,...,30.63,33,1.0,1.0,corridor,200000000,3.28,2017-08-10,0.754545,None
1574475,1574971,50264,busan,2016,84.9735,35.092868,128.966180,2638010400,318.0,298,...,111.30,298,3.0,2.0,stairway,263000000,3.44,2018-07-31,1.067114,None
1584838,1585579,50264,busan,2016,84.9735,35.092868,128.966180,2638010400,318.0,298,...,111.30,298,3.0,2.0,stairway,246000000,3.36,2018-08-10,1.067114,None
1548200,1548366,50264,busan,2016,84.9735,35.092868,128.966180,2638010400,318.0,298,...,111.30,298,3.0,2.0,stairway,249550000,3.45,2018-03-31,1.067114,None
1373232,1373244,50264,busan,2016,84.9735,35.092868,128.966180,2638010400,318.0,298,...,111.30,298,3.0,2.0,stairway,250550000,3.19,2017-02-28,1.067114,None
1390170,1390184,50264,busan,2016,84.9735,35.092868,128.966180,2638010400,318.0,298,...,111.30,298,3.0,2.0,stairway,248050000,3.21,2017-04-20,1.067114,None
1544422,1544568,50264,busan,2016,84.9735,35.092868,128.966180,2638010400,318.0,298,...,111.30,298,3.0,2.0,stairway,263000000,3.45,2018-03-10,1.067114,None
1488092,1488131,50264,busan,2016,84.9735,35.092868,128.966180,2638010400,318.0,298,...,111.30,298,3.0,2.0,stairway,252000000,3.39,2017-11-20,1.067114,None
1552994,1553195,50264,busan,2016,84.9735,35.092868,128.966180,2638010400,318.0,298,...,111.30,298,3.0,2.0,stairway,249500000,3.47,2018-04-10,1.067114,None
1464960,1464992,50264,busan,2016,84.9735,35.092868,128.966180,2638010400,318.0,298,...,111.30,298,3.0,2.0,stairway,265000000,3.28,2017-08-31,1.067114,None
1432497,1432515,50264,busan,2016,84.9735,35.092868,128.966180,2638010400,318.0,298,...,111.30,298,3.0,2.0,stairway,249000000,3.22,2017-06-10,1.067114,None
1464959,1464991,50264,busan,2016,84.9735,35.092868,128.966180,2638010400,318.0,298,...,111.30,298,3.0,2.0,stairway,258500000,3.28,2017-08-31,1.067114,None
1561251,1561536,50264,busan,2016,84.9735,35.092868,128.966180,2638010400,318.0,298,...,111.30,298,3.0,2.0,stairway,263000000,3.49,2018-05-31,1.067114,None

#### 구별 나누기

In [73]:
# set(df2.district)
district = pd.read_csv('./district.csv', encoding='CP949')
district.법정동코드 = district.법정동코드.astype(str)
district["법정동코드_구"] = district.법정동코드.str[2:5]
district["법정동코드_시"] = district.법정동코드.str[:2]
# district.법정동코드_구
# district.법정동코드_시
seoul_gu_code = list(district['법정동코드_구'][:25])
pusan_gu_code = list(district['법정동코드_구'][25:])
len(seoul_gu_code) # 26
len(pusan_gu_code) # 15

str

In [71]:
def extracting_gu_row():
    var1 = input('도시를 입력하세요 : ')
    var2 = input('연도를 입력하세요 : ')
    var3 = input('월을 입력하세요 : ')
    if var1 == 'seoul':
#         for i in range(len(seoul_gu_code)):
            result = df2.loc[(df2['city'] == var1) & (df2['transaction_year_month_date'].split('-')[0] == var2) & (df2['transaction_year_month_date'].split('-')[1] == var3)]
    else:
#         for j in range(len(pusan_gu_code)):
            result = df2.loc[(df2['city'] == var1) & (df2['transaction_year_month_date'].split('-')[0] == var2) & (df2['transaction_year_month_date'].split('-')[1] == var3)]
    
    return result

# df2.loc[(df2.city == 'seoul') & (df2.year == '2006') & (df2.district == '650') & (df2.month == '01'), : ]

extracting_gu_row()

도시를 입력하세요 : seoul
연도를 입력하세요 : 2006
월을 입력하세요 : 01

AttributeError: 'Series' object has no attribute 'split'

In [ ]:
df2

In [94]:

# get 'district' and 'dong' feature
# df2['address_by_law'] = df2['address_by_law'].astype(str)
# df2['district'] = df2.address_by_law.apply(lambda x: x[2:5])
# df2['dong'] = df2.address_by_law.apply(lambda x: x[5:-2])
# df2['year'] = df2.transaction_year_month_date.apply(lambda x: x[:4])
# df2['month'] = df2.transaction_year_month_date.apply(lambda x : x[5:7])

# df2.loc[(df2.year == '2006') & (df2.district == '650') & (df2.month == '01'), : ]
districts=list(set(df2.district))
k=list(set(df2.year)) 
years = ['2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018'] 
months = ['01','02','03','04','05','06','07','08','09','10','11','12'] 
# for i in range(len(years)): 
#     for j in range(len(months)): 
#         for p in range(len(districts)): 
#         df2.loc[(df2.year == years[i]) & (df2.month == months[j]) & (df2.district == districts[p]), :]

,key,apartment_id,city,year_of_completion,exclusive_use_area,latitude,longitude,address_by_law,total_parking_capacity_in_site,total_household_count_in_sites,...,bathroom_count,front_door_structure,transaction_real_price,mortgage loan,transaction_year_month_date,parking_per_household,district,dong,year,month
1219584,1219594,3,seoul,1987,66.2900,37.517649,127.012646,1165010600,324.0,360,...,1.0,corridor,756000000,2.93,2016-04-10,0.900000,650,106,2016,04
1474032,1474065,3,seoul,1987,66.2900,37.517649,127.012646,1165010600,324.0,360,...,1.0,corridor,1020000000,3.24,2017-09-30,0.900000,650,106,2017,09
577651,577652,3,seoul,1987,84.5300,37.517649,127.012646,1165010600,324.0,360,...,2.0,stairway,800000000,4.80,2011-01-31,0.900000,650,106,2011,01
435062,435062,3,seoul,1987,84.5300,37.517649,127.012646,1165010600,324.0,360,...,2.0,stairway,760000000,5.77,2009-09-30,0.900000,650,106,2009,09
694846,694847,3,seoul,1987,66.2900,37.517649,127.012646,1165010600,324.0,360,...,1.0,corridor,570000000,4.85,2012-05-31,0.900000,650,106,2012,05
348969,348969,3,seoul,1987,66.2900,37.517649,127.012646,1165010600,324.0,360,...,1.0,corridor,585000000,5.43,2009-03-20,0.900000,650,106,2009,03
268055,268055,3,seoul,1987,84.5300,37.517649,127.012646,1165010600,324.0,360,...,2.0,stairway,800000000,6.70,2008-03-31,0.900000,650,106,2008,03
349005,349005,3,seoul,1987,66.2900,37.517649,127.012646,1165010600,324.0,360,...,1.0,corridor,495000000,5.43,2009-03-20,0.900000,650,106,2009,03
960913,960918,3,seoul,1987,66.2900,37.517649,127.012646,1165010600,324.0,360,...,1.0,corridor,660000000,3.38,2014-10-20,0.900000,650,106,2014,10
540649,540650,3,seoul,1987,84.5300,37.517649,127.012646,1165010600,324.0,360,...,2.0,stairway,780000000,4.74,2010-10-31,0.900000,650,106,2010,10
1273089,1273100,3,seoul,1987,66.2900,37.517649,127.012646,1165010600,324.0,360,...,1.0,corridor,865000000,2.66,2016-07-10,0.900000,650,106,2016,07
856863,856868,3,seoul,1987,66.2900,37.517649,127.012646,1165010600,324.0,360,...,1.0,corridor,600000000,3.75,2014-01-10,0.900000,650,106,2014,01
190861,190861,3,seoul,1987,84.5300,37.517649,127.012646,1165010600,324.0,360,...,2.0,stairway,820000000,6.24,2007-07-10,0.900000,650,106,2007,07
268052,268052,3,seoul,1987,84.5300,37.517649,127.012646,1165010600,324.0,360,...,2.0,stairway,785000000,6.70,2008-03-31,0.900000,650,106,2008,03
540644,540645,3,seoul,1987,84.5300,37.517649,127.012646,1165010600,324.0,360,...,2.0,stairway,710000000,4.74,2010-10-31,0.900000,650,106,2010,10
268048,268048,3,seoul,1987,66.2900,37.517649,127.012646,1165010600,324.0,360,...,1.0,corridor,635000000,6.70,2008-03-31,0.900000,650,106,2008,03
268038,268038,3,seoul,1987,84.5300,37.517649,127.012646,1165010600,324.0,360,...,2.0,stairway,765000000,6.70,2008-03-31,0.900000,650,106,2008,03
853248,853252,3,seoul,1987,84.5300,37.517649,127.012646,1165010600,324.0,360,...,2.0,stairway,760000000,3.75,2014-01-20,0.900000,650,106,2014,01
5799,5799,3,seoul,1987,66.2900,37.517649,127.012646,1165010600,324.0,360,...,1.0,corridor,490000000,5.64,2006-01-31,0.900000,650,106,2006,01
577641,577642,3,seoul,1987,66.2900,37.517649,127.012646,1165010600,324.0,360,...,1.0,corridor,630000000,4.80,2011-01-31,0.900000,650,106,2011,01
849006,849010,3,seoul,1987,84.5300,37.517649,127.012646,1165010600,324.0,360,...,2.0,stairway,750000000,3.74,2013-12-31,0.900000,650,106,2013,12
1000729,1000735,3,seoul,1987,66.2900,37.517649,127.012646,1165010600,324.0,360,...,1.0,corridor,675000000,3.34,2015-01-10,0.900000,650,106,2015,01
1490567,1490609,3,seoul,1987,66.2900,37.517649,127.012646,1165010600,324.0,360,...,1.0,corridor,1055000000,3.39,2017-11-10,0.900000,650,106,2017,11
474640,474641,3,seoul,1987,66.2900,37.517649,127.012646,1165010600,324.0,360,...,1.0,corridor,605000000,5.75,2010-02-20,0.900000,650,106,2010,02
692861,692862,3,seoul,1987,66.2900,37.517649,127.012646,1165010600,324.0,360,...,1.0,corridor,608000000,4.85,2012-05-10,0.900000,650,106,2012,05
344065,344065,3,seoul,1987,66.2900,37.517649,127.012646,1165010600,324.0,360,...,1.0,corridor,440000000,5.38,2009-02-10,0.900000,650,106,2009,02
1475576,1475610,3,seoul,1987,84.5300,37.517649,127.012646,1165010600,324.0,360,...,2.0,stairway,1290000000,3.33,2017-10-20,0.900000,650,106,2017,10
1383470,1383483,3,seoul,1987,66.2900,37.517649,127.012646,1165010600,324.0,360,...,1.0,corridor,900000000,3.21,2017-03-31,0.900000,650,106,2017,03
849012,849016,3,seoul,1987,84.5300,37.517649,127.012646,1165010600,324.0,360,...,2.0,stairway,770000000,3.74,2013-12-31,0.900000,650,106,2013,12
560701,560702,3,seoul,1987,84.5300,37.517649,127.012646,1165010600,324.0,360,...,2.0,stairway,729000000,4.67,2010-12-10,0.900000,650,106,2010,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1461592,1461620,50075,seoul,2017,23.2500,37.588657,127.053665,1123010800,83.0,110,...,1.0,corridor,250000000,3.28,2017-08-10,0.754545,230,108,2017,08
1461604,1461632,50075,seoul,2017,23.1600,37.588657,127.053665,1123010800,83.0,110,...,1.0,corridor,200000000,3.28,2017-08-10,0.754545,230,108,2017,08
1547454,1547618,50075,seoul,2017,20.3400,37.588657,127.053665,1123010800,83.0,110,...,1.0,corridor,240000000,3.45,2018-03-31,0.754545,230,108,2018,03
1461597,1461625,50075,seoul,2017,20.3400,37.588657,127.053665,1123010800,83.0,110,...,1.0,corridor,240000000,3.28,2017-08-10,0.754545,230,108,2017,08
1461591,1461619,50075,seoul,2017,20.0100,37.588657,127.053665,1123010800,83.0,110,...,1.0,corridor,230000000,3.28,2017-08-10,0.754545,230,108,2017,08
1461563,1461591,50075,seoul,2017,20.6300,37.588657,127.053665,1123010800,83.0,110,...,1.0,corridor,200000000,3.28,2017-08-10,0.754545,230,108,2017,08
1461590,1461618,50075,seoul,2017,23.1600,37.588657,127.053665,1123010800,83.0,110,...,1.0,corridor,250000000,3.28,2017-08-10,0.754545,230,108,2017,08
1461570,1461598,50075,seoul,2017,23.3200,37.588657,127.053665,1123010800,83.0,110,...,1.0,corridor,250000000,3.28,2017-08-10,0.754545,230,108,2017,08
1461588,1461616,50075,seoul,2017,23.1600,37.588657,127.053665,1123010800,83.0,110,...,1.0,corridor,218000000,3.28,2017-08-10,0.754545,230,108,2017,08
1461596,1461624,50075,seoul,2017,23.1600,37.588657,127.053665,1123010800,83.0,110,...,1.0,corridor,250000000,3.28,2017-08-10,0.754545,230,108,2017,08
1461589,1461617,50075,seoul,2017,23.1600,37.588657,127.053665,1123010800,83.0,110,...,1.0,corridor,250000000,3.28,2017-08-10,0.754545,230,108,2017,08
1461581,1461609,50075,seoul,2017,23.2500,37.588657,127.053665,1123010800,83.0,110,...,1.0,corridor,250000000,3.28,2017-08-10,0.754545,230,108,2017,08
1461577,1461605,50075,seoul,2017,23.2500,37.588657,127.053665,1123010800,83.0,110,...,1.0,corridor,200000000,3.28,2017-08-10,0.754545,230,108,2017,08
1461573,1461601,50075,seoul,2017,23.2500,37.588657,127.053665,1123010800,83.0,110,...,1.0,corridor,247000000,3.28,2017-08-10,0.754545,230,108,2017,08
1514301,1514370,50075,seoul,2017,23.1600,37.588657,127.053665,1123010800,83.0,110,...,1.0,corridor,250000000,3.47,2018-01-10,0.754545,230,108,2018,01
1461572,1461600,50075,seoul,2017,23.1600,37.588657,127.053665,1123010800,83.0,110,...,1.0,corridor,240000000,3.28,2017-08-10,0.754545,230,108,2017,08
1461571,1461599,50075,seoul,2017,23.1600,37.588657,127.053665,1123010800,83.0,110,...,1.0,corridor,247000000,3.28,2017-08-10,0.754545,230,108,2017,08
1461605,1461633,50075,seoul,2017,23.1600,37.588657,127.053665,1123010800,83.0,110,...,1.0,corridor,200000000,3.28,2017-08-10,0.754545,230,108,2017,08
1574475,1574971,50264,busan,2016,84.9735,35.092868,128.966180,2638010400,318.0,298,...,2.0,stairway,263000000,3.44,2018-07-31,1.067114,380,104,2018,07
1584838,1585579,50264,busan,2016,84.9735,35.092868,128.966180,2638010400,318.0,298,...,2.0,stairway,246000000,3.36,2018-08-10,1.067114,380,104,2018,08
1548200,1548366,50264,busan,2016,84.9735,35.092868,128.966180,2638010400,318.0,298,...,2.0,stairway,249550000,3.45,2018-03-31,1.067114,380,104,2018,03
1373232,1373244,50264,busan,2016,84.9735,35.092868,128.966180,2638010400,318.0,298,...,2.0,stairway,250550000,3.19,2017-02-28,1.067114,380,104,2017,02
1390170,1390184,50264,busan,2016,84.9735,35.092868,128.966180,2638010400,318.0,298,...,2.0,stairway,248050000,3.21,2017-04-20,1.067114,380,104,2017,04
1544422,1544568,50264,busan,2016,84.9735,35.092868,128.966180,2638010400,318.0,298,...,2.0,stairway,263000000,3.45,2018-03-10,1.067114,380,104,2018,03
1488092,1488131,50264,busan,2016,84.9735,35.092868,128.966180,2638010400,318.0,298,...,2.0,stairway,252000000,3.39,2017-11-20,1.067114,380,104,2017,11
1552994,1553195,50264,busan,2016,84.9735,35.092868,128.966180,2638010400,318.0,298,...,2.0,stairway,249500000,3.47,2018-04-10,1.067114,380,104,2018,04
1464960,1464992,50264,busan,2016,84.9735,35.092868,128.966180,2638010400,318.0,298,...,2.0,stairway,265000000,3.28,2017-08-31,1.067114,380,104,2017,08
1432497,1432515,50264,busan,2016,84.9735,35.092868,128.966180,2638010400,318.0,298,...,2.0,stairway,249000000,3.22,2017-06-10,1.067114,380,104,2017,06
1464959,1464991,50264,busan,2016,84.9735,35.092868,128.966180,2638010400,318.0,298,...,2.0,stairway,258500000,3.28,2017-08-31,1.067114,380,104,2017,08
1561251,1561536,50264,busan,2016,84.9735,35.092868,128.966180,2638010400,318.0,298,...,2.0,stairway,263000000,3.49,2018-05-31,1.067114,380,104,2018,05

In [76]:
# parking_per_household
# df2.parking_per_household=df2.parking_per_household.fillna(value=df2['parking_per_household'].mean())

# heat_fuel 
# df2.heat_fuel=df2.heat_fuel.fillna(value='Not Certified')
# df2.heat_fuel.value_counts()

# heat_type
# df2.heat_type=df2.heat_type.fillna(value='Not Certified')
# df2.heat_type.isna().sum()

# front_door_structure
# df2.front_door_structure = df2.front_door_structure.fillna(method = 'bfill')
# df2.front_door_structure.value_counts()
# df2.front_door_structure=df2.front_door_structure.replace('-','Not Certified')
# df2.front_door_structure = df2.front_door_structure.fillna(value='Not Certified')



df2.isna().sum()


# df_train.heat_fuel = df_train.heat_fuel.replace('-', 'Not Certified')
# df2.parking_per_household.isna().sum()

# df_train.heat_fuel.isna().sum()
# df_train.front_door_structure.value_counts()
# df_train.total_parking_capacity_in_site.value_counts()
# sorted_train=df_train.sort_values('apartment_id')
# df_train.front_door_structure.replace('-',0)

key                                       0
apartment_id                              0
city                                      0
year_of_completion                        0
exclusive_use_area                        0
latitude                                  0
longitude                                 0
address_by_law                            0
total_parking_capacity_in_site        91813
total_household_count_in_sites            0
apartment_building_count_in_sites         0
tallest_building_in_sites                 9
lowest_building_in_sites                  9
heat_type                                 0
heat_fuel                                 0
supply_area                               0
total_household_count_of_area_type        0
room_count                              691
bathroom_count                          691
front_door_structure                      0
transaction_real_price                    0
mortgage loan                             0
transaction_year_month_date               0
parking_per_household                     0
dtype: int64

In [ ]:
# room_count
from sklearn.linear_model import LinearRegression 
lr = LinearRegression()
X,y = df2

In [74]:
sorted_train.to_csv('./sorted_train.csv', encoding = 'utf-8', sep = ',')

NameError: name 'sorted_train' is not defined

#### 결측값 조정(평균값 채워넣기, 앞방향으로 채우기)

In [7]:
# df_train.isna().sum()
# 결측값 리스트 
'''
total_parking_capacity_in_site        91813
heat_type                              2017
heat_fuel                              9667
room_count                              691
bathroom_count                          691
front_door_structure                  13892
'''

# 주차대수는 컬럼의 평균으로 
df_train.total_parking_capacity_in_site=df_train.total_parking_capacity_in_site.fillna(df_train.total_parking_capacity_in_site.mean())
# 난방 종류는 ffill
df_train.heat_type = df_train.heat_type.fillna(method='ffill')
# 난방 연료는 ffill
df_train.heat_fuel = df_train.heat_fuel.fillna(method='ffill')
# room_count는 컬럼평균
df_train.room_count = df_train.room_count.fillna(df_train.room_count.mean())
# bathromm_count도 컬럼평균
df_train.bathroom_count = df_train.bathroom_count.fillna(df_train.bathroom_count.mean())
# front_door_structure는 ffill 
df_train.front_door_structure = df_train.front_door_structure.fillna(method='ffill')

In [8]:
# df_train.isna().sum()
df_train.head()
df_train.room_id

0           91120
1           91119
2            8430
3            5839
4            5836
5            5831
6            5833
7           11862
8            5843
9            5842
10           5851
11           5847
12          11866
13          11867
14           5843
15           5848
16          11868
17           5841
18           5845
19          11864
20          11865
21           5842
22           7222
23         146919
24           3965
25           3966
26           3965
27           3966
28         146919
29           3965
            ...
1601428     44385
1601429     10537
1601430     17020
1601431      5871
1601432      5870
1601433     13062
1601434     48522
1601435     54538
1601436     56441
1601437     56442
1601438     57266
1601439     57267
1601440     57268
1601441     57269
1601442     26219
1601443     95331
1601444     10538
1601445     37397
1601446    147606
1601447     54538
1601448     56043
1601449     56044
1601450     92198
1601451     34262
1601452     50343
1601453     44386
1601454     13884
1601455     56043
1601456    165820
1601457      6279
Name: room_id, Length: 1601458, dtype: int64

In [9]:
df_train.columns

'''
Lat long coordinates have a problem that they are 2 features 
that represent a three dimensional space. 
This means that the long coordinate goes all around, 
which means the two most extreme values are actually very close together.
I've dealt with this problem a few times and
what I do in this case is map them to x, y and z coordinates. 
This means close points in these 3 dimensions are also close in reality. 
Depending on the use case you can disregard the changes in height 
and map them to a perfect sphere. 
These features can then be standardized properly. 

x = np.cos(lat) * np.cos(lon)
y = np.cos(lat) * np.sin(lon), 
z = np.sin(lat) 
'''
df_train2 = df_train.copy()
df_train3 = df_train2.drop(['transaction_year_month', 'transaction_date',
                           'latitude','longitude','address_by_law','room_id','household_loan','mean_loan'],axis=1)
# df_train3 = pd.DataFrame(df_train3, columns=)

### 범주형 변수, one-hot encoding 하기

In [10]:
df_train3.head()
df_train4 = pd.get_dummies(df_train3)
df_train4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1601458 entries, 0 to 1601457
Data columns (total 29 columns):
key                                   1601458 non-null int64
apartment_id                          1601458 non-null int64
year_of_completion                    1601458 non-null int64
exclusive_use_area                    1601458 non-null float64
floor                                 1601458 non-null int64
total_parking_capacity_in_site        1601458 non-null float64
total_household_count_in_sites        1601458 non-null int64
apartment_building_count_in_sites     1601458 non-null int64
tallest_building_in_sites             1601449 non-null float64
lowest_building_in_sites              1601449 non-null float64
supply_area                           1601458 non-null float64
total_household_count_of_area_type    1601458 non-null int64
room_count                            1601458 non-null float64
bathroom_count                        1601458 non-null float64
transaction_real_price                1601458 non-null int64
mortgage loan                         1601458 non-null float64
transaction_year_month_date           1601458 non-null datetime64[ns]
city_busan                            1601458 non-null uint8
city_seoul                            1601458 non-null uint8
heat_type_central                     1601458 non-null uint8
heat_type_district                    1601458 non-null uint8
heat_type_individual                  1601458 non-null uint8
heat_fuel_-                           1601458 non-null uint8
heat_fuel_cogeneration                1601458 non-null uint8
heat_fuel_gas                         1601458 non-null uint8
front_door_structure_-                1601458 non-null uint8
front_door_structure_corridor         1601458 non-null uint8
front_door_structure_mixed            1601458 non-null uint8
front_door_structure_stairway         1601458 non-null uint8
dtypes: datetime64[ns](1), float64(8), int64(8), uint8(12)
memory usage: 238.3 MB

In [11]:
# 임의의 열을 임의의 위치로 이동 
'''
df10 = pd.DataFrame({"A": [1,2,3], 
                   "B": [2,4,8], 
                   "C": [5,5,5]})

cols = df10.columns.tolist()
column_to_move = "A"
new_position = -1

cols.insert(new_position, cols.pop(cols.index(column_to_move)))
df10 = df10[cols]
'''
cols = df_train4.columns.tolist()
# len(cols) # 전체 29 
column_to_move = "transaction_real_price"
new_position = 29 

cols.insert(new_position,cols.pop(cols.index(column_to_move)))
df_train5 = df_train4[cols] 
df_train5 # 실거래가격이 제일 뒤쪽으로 이동

,key,apartment_id,year_of_completion,exclusive_use_area,floor,total_parking_capacity_in_site,total_household_count_in_sites,apartment_building_count_in_sites,tallest_building_in_sites,lowest_building_in_sites,...,heat_type_district,heat_type_individual,heat_fuel_-,heat_fuel_cogeneration,heat_fuel_gas,front_door_structure_-,front_door_structure_corridor,front_door_structure_mixed,front_door_structure_stairway,transaction_real_price
0,0,5584,1999,47.4300,6,163.000000,136,1,8.0,4.0,...,0,1,0,0,1,0,1,0,0,215000000
1,1,5584,1999,44.3700,8,163.000000,136,1,8.0,4.0,...,0,1,0,0,1,0,1,0,0,200000000
2,2,5059,1992,54.7000,8,902.000000,585,5,14.0,9.0,...,0,1,0,0,1,0,1,0,0,168000000
3,3,2816,1993,64.6600,11,902.000000,919,7,15.0,11.0,...,0,1,0,0,1,0,1,0,0,165000000
4,4,2816,1993,106.6200,7,902.000000,919,7,15.0,11.0,...,0,1,0,0,1,0,0,0,1,280000000
5,5,2815,2000,84.9200,9,1365.000000,964,12,23.0,10.0,...,0,1,0,0,1,0,0,0,1,415000000
6,6,2815,2000,60.0000,13,1365.000000,964,12,23.0,10.0,...,0,1,0,0,1,0,1,0,0,267000000
7,7,9867,2005,84.7600,10,652.000000,461,9,23.0,6.0,...,0,1,0,0,1,0,0,0,1,415000000
8,8,2818,1999,84.8800,18,2091.000000,2282,19,20.0,8.0,...,0,1,0,0,1,0,0,0,1,310000000
9,9,2817,2002,59.9400,12,4329.000000,5150,42,18.0,11.0,...,0,1,0,0,1,0,1,0,0,319000000
10,10,2819,1999,59.9800,6,1307.000000,994,14,23.0,14.0,...,0,1,0,0,1,0,0,0,1,246000000
11,11,2819,1999,84.9600,10,1307.000000,994,14,23.0,14.0,...,0,1,0,0,1,0,0,0,1,352000000
12,12,9867,2005,145.1000,10,652.000000,461,9,23.0,6.0,...,0,1,0,0,1,0,0,0,1,667500000
13,13,9867,2005,145.1000,10,652.000000,461,9,23.0,6.0,...,0,1,0,0,1,0,0,0,1,667500000
14,14,2818,1999,84.8800,17,2091.000000,2282,19,20.0,8.0,...,0,1,0,0,1,0,0,0,1,360000000
15,15,2819,1999,114.9100,18,1307.000000,994,14,23.0,14.0,...,0,1,0,0,1,0,0,0,1,440000000
16,16,9867,2005,59.8500,3,652.000000,461,9,23.0,6.0,...,0,1,0,0,1,0,0,0,1,280000000
17,17,2817,2002,114.8800,15,4329.000000,5150,42,18.0,11.0,...,0,1,0,0,1,0,0,0,1,708000000
18,18,2818,1999,57.6300,6,2091.000000,2282,19,20.0,8.0,...,0,1,0,0,1,0,1,0,0,270000000
19,19,9867,2005,114.4800,13,652.000000,461,9,23.0,6.0,...,0,1,0,0,1,0,0,0,1,600000000
20,20,9867,2005,114.4800,13,652.000000,461,9,23.0,6.0,...,0,1,0,0,1,0,0,0,1,600000000
21,21,2817,2002,59.9400,16,4329.000000,5150,42,18.0,11.0,...,0,1,0,0,1,0,1,0,0,289000000
22,22,4059,2001,84.9300,11,1204.000000,712,12,18.0,14.0,...,0,1,0,0,1,0,0,0,1,420000000
23,23,1470,1997,84.9900,2,2085.000000,1592,15,30.0,24.0,...,0,0,0,0,1,0,0,0,1,396000000
24,24,1470,1997,59.8200,22,2085.000000,1592,15,30.0,24.0,...,0,0,0,0,1,0,1,0,0,287000000
25,25,1470,1997,59.8200,22,2085.000000,1592,15,30.0,24.0,...,0,0,0,0,1,0,1,0,0,287000000
26,26,1470,1997,59.8200,2,2085.000000,1592,15,30.0,24.0,...,0,0,0,0,1,0,1,0,0,242500000
27,27,1470,1997,59.8200,2,2085.000000,1592,15,30.0,24.0,...,0,0,0,0,1,0,1,0,0,242500000
28,28,1470,1997,84.9900,6,2085.000000,1592,15,30.0,24.0,...,0,0,0,0,1,0,0,0,1,429000000
29,29,1470,1997,59.8200,20,2085.000000,1592,15,30.0,24.0,...,0,0,0,0,1,0,1,0,0,280000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1601428,1605232,11500,1999,84.9900,3,876.000000,819,8,27.0,13.0,...,0,1,0,0,1,0,0,0,1,292000000
1601429,1605239,6492,2004,114.8400,14,3146.000000,2810,25,20.0,15.0,...,0,1,0,0,1,0,0,0,1,475000000
1601430,1605241,19656,2009,84.9900,6,244.000000,215,3,15.0,10.0,...,0,1,0,0,1,0,0,0,1,600000000
1601431,1605257,2823,1996,59.7600,2,937.000000,1609,16,12.0,9.0,...,1,0,0,1,0,0,1,0,0,447000000
1601432,1605258,2823,1996,49.7700,8,937.000000,1609,16,12.0,9.0,...,1,0,0,1,0,0,1,0,0,380000000
1601433,1605268,12439,2008,59.9900,8,2772.000000,3322,32,20.0,13.0,...,0,1,0,0,1,0,0,0,1,450000000
1601434,1605289,16166,1976,42.9800,1,250.000000,270,8,5.0,5.0,...,0,1,0,0,1,0,0,0,1,52000000
1601435,1605292,20307,2011,84.7808,4,1128.000000,978,13,20.0,18.0,...,1,0,0,1,0,0,0,0,1,210000000
1601436,1605293,22610,2013,116.8112,8,766.000000,464,7,15.0,15.0,...,1,0,0,1,0,0,0,0,1,360000000
1601437,1605294,22610,2013,126.2039,10,766.000000,464,7,15.0,15.0,...,1,0,0,1,0,0,0,0,1,405000000
1601438,1605297,23695,2014,84.9900,6,932.000000,841,29,11.0,6.0,...,0,1,0,0,1,0,0,0,1,307000000
1601439,1605298,23695,2014,84.9900,6,932.000000,841,29,11.0,6.0,...,0,1,0,0,1,0,0,0,1,307000000
1601440,1605299,23695,2014,84.9900,6,932.000000,841,29,11.0,6.0,...,0,1,0,0,1,0,0,0,1,307000000
1601441,1605300,23695,2014,84.9900,6,932.000000,841,29,11.0,6.0,...,0,1,0,0,1,0,0,0,1,307000000
1601442,1605306,1510,1990,58.5900,8,1350.190435,990,11,15.0,15.0,...,0,1,0,0,1,0,0,0,1,140000000
1601443,1605307,19743,2011,84.9226,29,341.000000,234,2,33.0,27.0,...,0,1,0,0,1,0,0,0,1,303000000
1601444,1605311,6492,2004,59.3400,12,3146.000000,2810,25,20.0,15.0,...,0,1,0,0,1,0,1,0,0,305000000
1601445,1605318,7943,1995,48.8900,19,202.000000,504,4,26.0,16.0,...,0,1,0,0,1,0,1,0,0,100000000
1601446,1605320,6339,2004,84.9700,10,2252.000000,1895,17,29.0,22.0,...,0,1,0,0,1,0,0,0,1,373000000
1601447,1605326,20307,2011,84.7808,4,1128.000000,978,13,20.0,18.0,...,1,0,0,1,0,0,0,0,1,210000000
1601448,1605333,22243,2014,84.9669,33,1761.000000,1326,9,35.0,27.0,...,0,1,0,0,1,0,0,0,1,352930000
1601449,1605334,22243,2014,84.9669,33,1761.000000,1326,9,35.0,27.0,...,0,1,0,0,1,0,0,0,1,352930000
1601450,1605336,33476,2015,72.2358,5,3400.000000,3160,30,29.0,8.0,...,0,1,0,0,1,0,0,0,1,295000000
1601451,1605338,5934,1991,49.9400,10,1600.000000,1320,10,15.0,15.0,...,0,1,0,0,1,0,1,0,0,118000000
1601452,1605342,17371,2007,84.6588,5,918.000000,712,15,15.0,9.0,...,0,1,0,0,1,0,0,0,1,284000000
1601453,1605344,11500,1999,118.4700,14,876.000000,819,8,27.0,13.0,...,0,1,0,0,1,0,0,0,1,427000000
1601454,1605346,16686,2007,59.9900,4,1651.000000,1122,22,15.0,8.0,...,0,1,0,0,1,0,0,0,1,771000000
1601455,1605356,22243,2014,84.9669,31,1761.000000,1326,9,35.0,27.0,...,0,1,0,0,1,0,0,0,1,343000000
1601456,1605366,3686,1996,59.3400,4,111.000000,107,1,19.0,11.0,...,0,1,0,0,1,0,1,0,0,485000000
1601457,1605373,2937,1999,84.8800,5,802.000000,860,8,22.0,7.0,...,0,1,0,0,1,0,0,0,1,430000000

### data regularization

In [97]:
# df_train['transaction_year_month_date']=pd.to_datetime(df_train['transaction_year_month_date']) 
from datetime import datetime
import time 
Timestamp = []
for i in range(len(df_train5.transaction_year_month_date)):
    timestamp = time.mktime(df_train5.transaction_year_month_date[i].timetuple())
    Timestamp.append(timestamp)

In [98]:
t1=Timestamp
t1_d = pd.DataFrame(t1)

In [100]:
df_train5["timestamp"]=t1
# df_train.sort_values('timestamp')
# timestamp가 날짜별로 움직이므로, 그대로 log화 해도 될 것이다. 
# 여기까지 완료.
df_train5

C:\Python\anaconda3-52\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,key,apartment_id,year_of_completion,exclusive_use_area,floor,total_parking_capacity_in_site,total_household_count_in_sites,apartment_building_count_in_sites,tallest_building_in_sites,lowest_building_in_sites,...,heat_type_individual,heat_fuel_-,heat_fuel_cogeneration,heat_fuel_gas,front_door_structure_-,front_door_structure_corridor,front_door_structure_mixed,front_door_structure_stairway,transaction_real_price,timestamp
0,0,5584,1999,47.4300,6,163.000000,136,1,8.0,4.0,...,1,0,0,1,0,1,0,0,215000000,1.137683e+09
1,1,5584,1999,44.3700,8,163.000000,136,1,8.0,4.0,...,1,0,0,1,0,1,0,0,200000000,1.137683e+09
2,2,5059,1992,54.7000,8,902.000000,585,5,14.0,9.0,...,1,0,0,1,0,1,0,0,168000000,1.137683e+09
3,3,2816,1993,64.6600,11,902.000000,919,7,15.0,11.0,...,1,0,0,1,0,1,0,0,165000000,1.137683e+09
4,4,2816,1993,106.6200,7,902.000000,919,7,15.0,11.0,...,1,0,0,1,0,0,0,1,280000000,1.137683e+09
5,5,2815,2000,84.9200,9,1365.000000,964,12,23.0,10.0,...,1,0,0,1,0,0,0,1,415000000,1.137683e+09
6,6,2815,2000,60.0000,13,1365.000000,964,12,23.0,10.0,...,1,0,0,1,0,1,0,0,267000000,1.137683e+09
7,7,9867,2005,84.7600,10,652.000000,461,9,23.0,6.0,...,1,0,0,1,0,0,0,1,415000000,1.137683e+09
8,8,2818,1999,84.8800,18,2091.000000,2282,19,20.0,8.0,...,1,0,0,1,0,0,0,1,310000000,1.137683e+09
9,9,2817,2002,59.9400,12,4329.000000,5150,42,18.0,11.0,...,1,0,0,1,0,1,0,0,319000000,1.137683e+09
10,10,2819,1999,59.9800,6,1307.000000,994,14,23.0,14.0,...,1,0,0,1,0,0,0,1,246000000,1.137683e+09
11,11,2819,1999,84.9600,10,1307.000000,994,14,23.0,14.0,...,1,0,0,1,0,0,0,1,352000000,1.137683e+09
12,12,9867,2005,145.1000,10,652.000000,461,9,23.0,6.0,...,1,0,0,1,0,0,0,1,667500000,1.137683e+09
13,13,9867,2005,145.1000,10,652.000000,461,9,23.0,6.0,...,1,0,0,1,0,0,0,1,667500000,1.137683e+09
14,14,2818,1999,84.8800,17,2091.000000,2282,19,20.0,8.0,...,1,0,0,1,0,0,0,1,360000000,1.137683e+09
15,15,2819,1999,114.9100,18,1307.000000,994,14,23.0,14.0,...,1,0,0,1,0,0,0,1,440000000,1.137683e+09
16,16,9867,2005,59.8500,3,652.000000,461,9,23.0,6.0,...,1,0,0,1,0,0,0,1,280000000,1.137683e+09
17,17,2817,2002,114.8800,15,4329.000000,5150,42,18.0,11.0,...,1,0,0,1,0,0,0,1,708000000,1.137683e+09
18,18,2818,1999,57.6300,6,2091.000000,2282,19,20.0,8.0,...,1,0,0,1,0,1,0,0,270000000,1.137683e+09
19,19,9867,2005,114.4800,13,652.000000,461,9,23.0,6.0,...,1,0,0,1,0,0,0,1,600000000,1.137683e+09
20,20,9867,2005,114.4800,13,652.000000,461,9,23.0,6.0,...,1,0,0,1,0,0,0,1,600000000,1.137683e+09
21,21,2817,2002,59.9400,16,4329.000000,5150,42,18.0,11.0,...,1,0,0,1,0,1,0,0,289000000,1.137683e+09
22,22,4059,2001,84.9300,11,1204.000000,712,12,18.0,14.0,...,1,0,0,1,0,0,0,1,420000000,1.137683e+09
23,23,1470,1997,84.9900,2,2085.000000,1592,15,30.0,24.0,...,0,0,0,1,0,0,0,1,396000000,1.137683e+09
24,24,1470,1997,59.8200,22,2085.000000,1592,15,30.0,24.0,...,0,0,0,1,0,1,0,0,287000000,1.137683e+09
25,25,1470,1997,59.8200,22,2085.000000,1592,15,30.0,24.0,...,0,0,0,1,0,1,0,0,287000000,1.137683e+09
26,26,1470,1997,59.8200,2,2085.000000,1592,15,30.0,24.0,...,0,0,0,1,0,1,0,0,242500000,1.137683e+09
27,27,1470,1997,59.8200,2,2085.000000,1592,15,30.0,24.0,...,0,0,0,1,0,1,0,0,242500000,1.137683e+09
28,28,1470,1997,84.9900,6,2085.000000,1592,15,30.0,24.0,...,0,0,0,1,0,0,0,1,429000000,1.137683e+09
29,29,1470,1997,59.8200,20,2085.000000,1592,15,30.0,24.0,...,0,0,0,1,0,1,0,0,280000000,1.137683e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1601428,1605232,11500,1999,84.9900,3,876.000000,819,8,27.0,13.0,...,1,0,0,1,0,0,0,1,292000000,1.539097e+09
1601429,1605239,6492,2004,114.8400,14,3146.000000,2810,25,20.0,15.0,...,1,0,0,1,0,0,0,1,475000000,1.539097e+09
1601430,1605241,19656,2009,84.9900,6,244.000000,215,3,15.0,10.0,...,1,0,0,1,0,0,0,1,600000000,1.539097e+09
1601431,1605257,2823,1996,59.7600,2,937.000000,1609,16,12.0,9.0,...,0,0,1,0,0,1,0,0,447000000,1.539097e+09
1601432,1605258,2823,1996,49.7700,8,937.000000,1609,16,12.0,9.0,...,0,0,1,0,0,1,0,0,380000000,1.539097e+09
1601433,1605268,12439,2008,59.9900,8,2772.000000,3322,32,20.0,13.0,...,1,0,0,1,0,0,0,1,450000000,1.539097e+09
1601434,1605289,16166,1976,42.9800,1,250.000000,270,8,5.0,5.0,...,1,0,0,1,0,0,0,1,52000000,1.540912e+09
1601435,1605292,20307,2011,84.7808,4,1128.000000,978,13,20.0,18.0,...,0,0,1,0,0,0,0,1,210000000,1.540912e+09
1601436,1605293,22610,2013,116.8112,8,766.000000,464,7,15.0,15.0,...,0,0,1,0,0,0,0,1,360000000,1.540912e+09
1601437,1605294,22610,2013,126.2039,10,766.000000,464,7,15.0,15.0,...,0,0,1,0,0,0,0,1,405000000,1.540912e+09
1601438,1605297,23695,2014,84.9900,6,932.000000,841,29,11.0,6.0,...,1,0,0,1,0,0,0,1,307000000,1.540912e+09
1601439,1605298,23695,2014,84.9900,6,932.000000,841,29,11.0,6.0,...,1,0,0,1,0,0,0,1,307000000,1.540912e+09
1601440,1605299,23695,2014,84.9900,6,932.000000,841,29,11.0,6.0,...,1,0,0,1,0,0,0,1,307000000,1.540912e+09
1601441,1605300,23695,2014,84.9900,6,932.000000,841,29,11.0,6.0,...,1,0,0,1,0,0,0,1,307000000,1.540912e+09
1601442,1605306,1510,1990,58.5900,8,1350.190435,990,11,15.0,15.0,...,1,0,0,1,0,0,0,1,140000000,1.540912e+09
1601443,1605307,19743,2011,84.9226,29,341.000000,234,2,33.0,27.0,...,1,0,0,1,0,0,0,1,303000000,1.540912e+09
1601444,1605311,6492,2004,59.3400,12,3146.000000,2810,25,20.0,15.0,...,1,0,0,1,0,1,0,0,305000000,1.540912e+09
1601445,1605318,7943,1995,48.8900,19,202.000000,504,4,26.0,16.0,...,1,0,0,1,0,1,0,0,100000000,1.540912e+09
1601446,1605320,6339,2004,84.9700,10,2252.000000,1895,17,29.0,22.0,...,1,0,0,1,0,0,0,1,373000000,1.540912e+09
1601447,1605326,20307,2011,84.7808,4,1128.000000,978,13,20.0,18.0,...,0,0,1,0,0,0,0,1,210000000,1.540912e+09
1601448,1605333,22243,2014,84.9669,33,1761.000000,1326,9,35.0,27.0,...,1,0,0,1,0,0,0,1,352930000,1.540912e+09
1601449,1605334,22243,2014,84.9669,33,1761.000000,1326,9,35.0,27.0,...,1,0,0,1,0,0,0,1,352930000,1.540912e+09
1601450,1605336,33476,2015,72.2358,5,3400.000000,3160,30,29.0,8.0,...,1,0,0,1,0,0,0,1,295000000,1.540912e+09
1601451,1605338,5934,1991,49.9400,10,1600.000000,1320,10,15.0,15.0,...,1,0,0,1,0,1,0,0,118000000,1.540912e+09
1601452,1605342,17371,2007,84.6588,5,918.000000,712,15,15.0,9.0,...,1,0,0,1,0,0,0,1,284000000,1.540912e+09
1601453,1605344,11500,1999,118.4700,14,876.000000,819,8,27.0,13.0,...,1,0,0,1,0,0,0,1,427000000,1.540912e+09
1601454,1605346,16686,2007,59.9900,4,1651.000000,1122,22,15.0,8.0,...,1,0,0,1,0,0,0,1,771000000,1.540912e+09
1601455,1605356,22243,2014,84.9669,31,1761.000000,1326,9,35.0,27.0,...,1,0,0,1,0,0,0,1,343000000,1.540912e+09
1601456,1605366,3686,1996,59.3400,4,111.000000,107,1,19.0,11.0,...,1,0,0,1,0,1,0,0,485000000,1.540912e+09
1601457,1605373,2937,1999,84.8800,5,802.000000,860,8,22.0,7.0,...,1,0,0,1,0,0,0,1,430000000,1.540912e+09

In [96]:
from sklearn.preprocessing import StandardScaler
stdscaler = StandardScaler()
x_dat_std = stdscaler.fit_transform(df_train5)

TypeError: float() argument must be a string or a number, not 'Timestamp'